.welcomePage {
    max-width: 100dvw;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    box-shadow: 0 4px 8px #0000001a;
    display: flex;
    align-items: center;
}

.pageTitle {
    letter-spacing: 1px;
    font-size: 40px;
    color: var(--darkPlum);
}