.title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

input:not([type='submit']):not([type='buttonn']),
select {
    outline: none;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-bottom-color: var(--bordergray);
    /* padding: 10px; */
    padding: 6px 6px;
    margin-bottom: 10px;
    font-family: 'lato';
}

.signUpFormWrap,
.signInFormWrap {
    box-sizing: border-box;
    box-shadow: 0 4px 8px #0000001a;
    padding: 20px;
    border: 1px solid var(--bordergray);
    border-radius: 10px;
    font-family: 'lato';
}

.title button span {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.title button span.textPlum,
.title button span.textRed {
    display: block;
    position: relative;
    padding-right: 2px;
    transition: all .3s;
    color: var(--darkPlum);
}

.title button span.textRed {
    padding-left: 2px;
    padding-right: 0;
    color: var(--redSalsa);
}

.title button span.textPlum::after,
.title button span.textRed::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--darkPlum);
    transition: all .3s;
}

.title button span.textRed::after {
    background-color: var(--redSalsa);
}

.title button span:hover .textPlum {
    color: var(--redSalsa);
}

.title button span:hover .textRed {
    color: var(--darkPlum);
}

.title button:hover .textRed::after {
    background-color: var(--darkPlum);
}

.title button:hover .textPlum::after {
    background-color: var(--redSalsa);
}

.message {
    max-height: 0;
    font-size: 12px;
    line-height: 1.4;
    padding-top: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.message.error,
.message.success {
    color: var(--redSalsa);
    max-height: max-content;
    opacity: 1;
    visibility: visible;
}

.message.success {
    color: var(--success);
}

.btnWrap {
    text-align: center;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    cursor: not-allowed;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.loading .loader {
    opacity: 1;
    visibility: visible;
}

.loader img {
    animation: rotateLoader 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Keyframes for rotating animation */
@keyframes rotateLoader {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.forgotPassword span {
    cursor: pointer;
    display: block;
    padding-top: 5px;
    opacity: 0.5;
    width: max-content;
}

.forgotPassword .textRed:hover {
    opacity: 1;
}

.forgotBtnWrap {
    display: flex;
    align-items: center;
    gap: 10px;
}

.forgotBtnWrap .forgotPassBtn {
    background-color: var(--darkPlum);
    color: var(--white);
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all .3s;
}

.forgotBtnWrap .forgotPassBtn:hover {
    background-color: transparent;
    border-color: var(--darkPlum);
    color: var(--darkPlum);
}

.forgotBtnWrap .btn.mt_0 {
    margin-top: 0;
}

@media (max-width: 800px) {

    .signInFormWrap,
    .signUpFormWrap {
        width: 100%;
    }

    .imageWrap {
        display: none;
    }

    .hero {
        padding: 0;
    }
}